@model VideoStore.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "NewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("NewMovie", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateReleased)
        @Html.TextBoxFor(m => m.Movie.DateReleased, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.DateReleased)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.DateAdded)
        @Html.TextBoxFor(m => m.Movie.DateAdded, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.DateAdded)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GanreId)
        @Html.DropDownListFor(m => m.Movie.GanreId, new SelectList(Model.Ganre, "Id", "Name"), "Select a Ganre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GanreId)
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
}

@section scripts{
    @Html.AntiForgeryToken()
    @Scripts.Render("~/bundles/jqueryval")
    
    }

